/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Add your custom styles here... */ 

.nopadding {
	padding: 0px !important;
}
.nomargin {
	margin: 0px !important;
}

.titulo-feed {
	position: relative;
	margin-bottom: 20px;
}
.titulo-feed:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: black;
	left: 53px;
}
.titulo-feed img.logo-1 {
	margin-right: 20px;
}

/* ================================================================================================================================= */
/* ================================================================================================================================= */
/* ================================================================================================================================= */
/* =========================================================== CABECALHO =========================================================== */
/* ================================================================================================================================= */
/* ================================================================================================================================= */
/* ================================================================================================================================= */

@media (min-width: 992px) {
	header.fl-page-header-primary {
	/*background-image: url(img/logo-fundo-cabecalho.png);*/
		background-repeat: no-repeat;
		background-size: 275px;
		background-position: center left 105px;
	}
}

.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-nav-col .fl-page-nav .redes-sociais {
	margin-left: 20px;
}
@media (max-width: 992px) {
	.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-nav-col .fl-page-nav .redes-sociais {
		margin: auto;
		margin-top: 20px;
	}
}
.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-nav-col .fl-page-nav .redes-sociais .rede-social {
	margin-right: 10px;
}
.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-nav-col .fl-page-nav .redes-sociais .rede-social:last-child {
	margin-right: 0px;
}
.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-nav-col .fl-page-nav .redes-sociais .rede-social img {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	border-radius: 100%;
}
.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-nav-col .fl-page-nav .redes-sociais .rede-social:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
}
.fl-page-nav .navbar-nav > li > a.nav-link:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 3px;
	background-color: white;
	left: 0;
	right: 0;
	bottom: 10px;
	margin: 0 auto;
	border-radius: 100px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.fl-page-nav .navbar-nav > li:hover > a.nav-link:after {
	width: 90%;
}

@media (min-width: 992px) {
	.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-header-logo-col {
		flex: 0 0 11%;
		max-width: 11%;
	}
	.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-nav-col {
		flex: 0 0 89%;
		max-width: 89%;
	}
}
@media (max-width: 992px) {
	.fl-page-header.fl-page-header-primary .fl-page-header-wrap .fl-page-header-logo-col img.fl-logo-img {
		width: auto;
		max-height: 120px !important;
	}
	.fl-page-nav-toggle-button.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav-collapse ul.navbar-nav > li > a {
		text-align: center;
	}
}

/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* =========================================================== INICIO =========================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
.fundo-slider .slider .slide a img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}
@media (min-width: 992px) {
	.fundo-slider .slider .slide a img.imagem-desktop {
		display: block;
		height: 85vh;
	}
	.fundo-slider .slider .slide a img.imagem-mobile {
		display: none;
	}
}
@media (max-width: 992px) {
	.fundo-slider .slider .slide a img.imagem-desktop {
		display: none;
	}
	.fundo-slider .slider .slide a img.imagem-mobile {
		display: block;
		height: auto;
	}
}

/* ====================== */
/* === grupo absoluta === */
/* ====================== */
.cf-home-grupo .coluna-conteudo .titulo,
.cf-home-grupo .coluna-conteudo .subtitulo,
.cf-home-grupo .coluna-conteudo .titulo *,
.cf-home-grupo .coluna-conteudo .subtitulo * {
	margin-bottom: 0px;
	font-weight: 100;
}
.cf-home-grupo .coluna-conteudo .titulo strong {
	font-weight: 700;
	color: #390d0d;
}
.cf-home-grupo .coluna-conteudo .titulo {
	font-size: 70px;
	position: relative;
}
.cf-home-grupo .coluna-conteudo .titulo:after {
	content: '';
	position: absolute;
	width: 35%;
	height: 4px;
	bottom: 4px;
	background-color: #000000;
}
.cf-home-grupo .coluna-conteudo .subtitulo {
	letter-spacing: 6px;
}
.cf-home-grupo .coluna-conteudo .descricao {
	display: flex;
	margin-top: 20px;
	font-size: 15px;
}
.cf-home-grupo .coluna-conteudo .descricao * {
	margin-bottom: 0px;
}
.cf-home-grupo .coluna-conteudo .descricao a {
	color: #861414;
	text-decoration: underline;
	float: right;
	display: block;
}
.cf-home-grupo .coluna-conteudo .descricao .bloco-esquerda {
	padding-right: 10px;
}
.cf-home-grupo .coluna-conteudo .descricao .bloco-direita {
	padding-left: 10px;
}

/* =================== */
/* === lancamentos === */
/* =================== */
.cf-lancamento .titulo .texto {
	font-size: 50px;
	margin-bottom: 40px;
	position: relative;
}
.cf-lancamento .titulo .texto:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -5px;
	width: 85%;
	height: 5px;
	background-color: #000000;
}
.cf-lancamento .coluna-divisor-esquerda {
	padding-left: 15px !important;
}
.cf-lancamento .coluna-divisor-direita {
	padding-right: 15px !important;
}
.cf-lancamento .bloco-imovel-lancamento .imagem {
	overflow: hidden;
	position: relative;
}
.cf-lancamento .bloco-imovel-lancamento .imagem span.nome-movel {
	position: absolute;
	bottom: 20%;
	left: -100%;
	z-index: 10;
	background-color: white;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-lancamento .bloco-imovel-lancamento .imagem:after {
	content: '';
	position: absolute;
	width: 90%;
	height: 90%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border: 5px solid white;
	pointer-events: none;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-lancamento .bloco-imovel-lancamento .imagem img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-lancamento .bloco-imovel-lancamento .imagem img.foto-1 {
	height: 500px;
}
.cf-lancamento .bloco-imovel-lancamento .imagem img.foto-2,
.cf-lancamento .bloco-imovel-lancamento .imagem img.foto-3,
.cf-lancamento .bloco-imovel-lancamento .imagem img.foto-4 {
	height: 250px;
}
.cf-lancamento .bloco-imovel-lancamento .imagem:hover:after {
	width: 95%;
	height: 95%;
}
.cf-lancamento .bloco-imovel-lancamento .imagem:hover span.nome-movel {
	left: 3%;
}
.cf-lancamento .bloco-imovel-lancamento .imagem:hover img {
	-webkit-transform: scale(1.1) rotate(3deg);
	-moz-transform: scale(1.1) rotate(3deg);
	-ms-transform: scale(1.1) rotate(3deg);
	-o-transform: scale(1.1) rotate(3deg);
	transform: scale(1.1) rotate(3deg);
}

/* ================ */
/* === destaque === */
/* ================ */
.cf-slider-destaque .col-slider-destaque .item-destaque {
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.cf-slider-destaque .col-slider-destaque .item-destaque a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-decoration: none;
}
.cf-slider-destaque .col-slider-destaque .item-destaque a {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-slider-destaque .col-slider-destaque .item-destaque a img {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	margin-bottom: 35px;
}
.cf-slider-destaque .col-slider-destaque .item-destaque a span.span-mais-informacao {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	margin-bottom: 10px;
	position: relative;
	font-weight: 100;
}
.cf-slider-destaque .col-slider-destaque .item-destaque a span.span-mais-informacao:after {
	content: '';
	position: absolute;
	background-color: white;
	width: 25%;
	height: 1px;
	bottom: -7px;
	right: 0;
	left: 0;
	margin: auto;
}
.cf-slider-destaque .col-slider-destaque .item-destaque a span.span-clique-aqui {
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
	font-weight: 100;
}
.cf-slider-destaque .col-slider-destaque .item-destaque a img,
.cf-slider-destaque .col-slider-destaque .item-destaque a span.span-mais-informacao,
.cf-slider-destaque .col-slider-destaque .item-destaque a span.span-clique-aqui {
	-webkit-transform: translateY(500px);
	-moz-transform: translateY(500px);
	-ms-transform: translateY(500px);
	-o-transform: translateY(500px);
	transform: translateY(500px);
	color: white;
}
.cf-slider-destaque .col-slider-destaque .item-destaque:hover a img,
.cf-slider-destaque .col-slider-destaque .item-destaque:hover a span.span-mais-informacao,
.cf-slider-destaque .col-slider-destaque .item-destaque:hover a span.span-clique-aqui {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.cf-slider-destaque .col-slider-destaque .item-destaque:hover a {
	background-color: rgba(0, 0, 0, 0.6);
}
.cf-slider-destaque .col-slider-destaque {
	position: relative;
}
.cf-slider-destaque .col-slider-destaque button.slick-arrow {
	position: absolute;
	z-index: 10;
	top: 0;
	width: 45px;
	height: 100%;
	font-size: 0px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 0px;
	border: 0px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-slider-destaque .col-slider-destaque button.slick-arrow:hover {
	background-color: rgba(0,0,0,0.4);
	background-size: 23px;
}
.cf-slider-destaque .col-slider-destaque button.slick-arrow.slick-prev {
	left: 0;
	background-image: url('img/icone-destaque-prev.png');
}
.cf-slider-destaque .col-slider-destaque button.slick-arrow.slick-next {
	right: 0;
	background-image: url('img/icone-destaque-next.png');
}

/* ====================================================================================================================================== */
/* ====================================================================================================================================== */
/* ====================================================================================================================================== */
/* =========================================================== GRUPO ABSOLUTA =========================================================== */
/* ====================================================================================================================================== */
/* ====================================================================================================================================== */
/* ====================================================================================================================================== */
.cf-lojas-pagina-grupo .bloco-loja .bloco-loja-interno .contato {
	margin-top: 20px;
	margin-bottom: 30px;
}
.cf-lojas-pagina-grupo .bloco-loja .bloco-loja-interno .contato *,
.cf-lojas-pagina-grupo .bloco-loja .bloco-loja-interno .endereco * {
	margin-bottom: 0px;
}
.cf-lojas-pagina-grupo .bloco-loja .bloco-loja-interno .endereco {
	position: relative;
}
.cf-lojas-pagina-grupo .bloco-loja .bloco-loja-interno .endereco:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 30%;
	height: 4px;
	background-color: black;
}

/* ============================================================================================================================= */
/* ============================================================================================================================= */
/* ============================================================================================================================= */
/* =========================================================== BUSCA =========================================================== */
/* ============================================================================================================================= */
/* ============================================================================================================================= */
/* ============================================================================================================================= */
section.pagina-interna {
	padding-top: 30px;
	padding-bottom: 30px;
}

.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno {
	background-color: #b3b3b3;
	padding-bottom: 50px;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco.bloco-busca {
	padding-top: 15px;
	padding-bottom: 20px;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco.bloco-busca p.titulo-refinamento {
	font-size: 30px;
	text-align: center;
	color: #35342e;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco.bloco-busca .campo-busca {
	background-color: transparent;
	padding: 0px 20px;
	position: relative;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco.bloco-busca .campo-busca input.txtBuscaCatalogo {
	background-color: white;
	border-radius: 0px;
	border: 0px;
	text-align: center;
	font-size: 18px;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco.bloco-busca .campo-busca button {
	width: 25px;
	height: 25px;
	padding: 0px;
	background-color: transparent;
	border: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 25px;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco.bloco-busca .campo-busca button img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco .botao button.btn {
	width: 100%;
	text-align: left;
	text-transform: uppercase;
	border-radius: 0px;
	background-color: #bebebe;
	border: 0px;
	box-shadow: none;
	color: #35342e;
	border-bottom: 1px solid #b3b3b3;
	position: relative;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco .botao button.btn span.sinal {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 20px;
	margin: auto;
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	border-radius: 5px;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco .botao button.btn span.sinal:before,
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco .botao button.btn span.sinal:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 2px;
	background-color: #000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco .botao button.btn.collapsed span.sinal:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.cf-busca-catalogo .bloco-refinamento .bloco-refinamento-interno .bloco .conteudo {
	padding: 10px;
}

/* ==================================================================================================================================== */
/* ==================================================================================================================================== */
/* ==================================================================================================================================== */
/* =========================================================== LISTA MOVEIS =========================================================== */
/* ==================================================================================================================================== */
/* ==================================================================================================================================== */
/* ==================================================================================================================================== */
.c-lista-produtos .r-lista-produtos .breadcrumbs {
	margin-top: 20px;
}
.c-lista-produtos .r-lista-produtos .breadcrumbs,
.c-lista-produtos .r-lista-produtos .breadcrumbs span {
	color: #999999;
	font-weight: bold;
	font-size: 17px;
	text-transform: lowercase;
}
.c-lista-produtos .r-lista-produtos .titulo-pagina-lista-produtos {
	text-transform: uppercase;
}
.c-moveis .r-linha-moveis {
	padding-left: 15px;
	padding-right: 15px;
}
.c-moveis .r-linha-moveis .coluna-superior {
	padding-left: 5px;
	padding-right: 5px;
}
.c-moveis .r-linha-moveis .coluna-superior:first-child {
	padding-left: 0px;
	padding-right: 5px;
}
.c-moveis .r-linha-moveis .coluna-superior:last-child {
	padding-left: 5px;
	padding-right: 0px;
}

.c-moveis .r-linha-moveis .coluna-superior .bloco-imovel {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
.c-moveis .r-linha-moveis .coluna-superior .bloco-imovel img {
	width: 100%;
	height: auto;
}
.c-moveis .r-linha-moveis .coluna-superior.coluna-superior-par .bloco-imovel img {
	/*width: 100%;
	height: auto;*/
}
.c-moveis .r-linha-moveis .coluna-superior .bloco-imovel .descricao-bloco {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	padding: 10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}
.c-moveis .r-linha-moveis .coluna-superior .bloco-imovel:hover .descricao-bloco {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}
.c-moveis .r-linha-moveis .coluna-superior .bloco-imovel .descricao-bloco p {
	margin-bottom: 0px;
	color: white;
}
.c-moveis .r-linha-moveis .coluna-superior .bloco-imovel .descricao-bloco p.nome {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
.c-moveis .r-linha-moveis .coluna-superior .bloco-imovel .descricao-bloco p.descricao {
	font-weight: 100;
}

/* ===================================================================================================================================== */
/* ===================================================================================================================================== */
/* ===================================================================================================================================== */
/* =========================================================== INTERNO MOVEL =========================================================== */
/* ===================================================================================================================================== */
/* ===================================================================================================================================== */
/* ===================================================================================================================================== */

/* === breadcrumb === */
.bloco-breadcrumb {
	margin: 20px 0px;
}

/* === galeria === */
.bloco-galeria button.slick-arrow {
	position: absolute;
	top: 45%;
	z-index: 5;
	width: 40px;
	height: 40px;
	font-size: 0px;
	background: transparent;
	border-radius: 0px;
	outline: none;
	border: 0px;
}
.bloco-galeria button.slick-arrow:after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	border: 5px solid #c2c2c2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.bloco-galeria button.slick-arrow.slick-prev {
	left: 5px;
}
.bloco-galeria button.slick-arrow.slick-prev:after {
	border-top: 0px;
	border-right: 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.bloco-galeria button.slick-arrow.slick-next {
	right: 5px;
}
.bloco-galeria button.slick-arrow.slick-next:after {
	right: 0;
	border-top: 0px;
	border-left: 0px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.bloco-galeria .imagem-galeria img {
	width: 100%;
	height: 500px;
	object-fit: contain;
	object-position: center;
}

/* === dados === */
.bloco-dados-movel .titulo-ref {
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}
.bloco-dados-movel .titulo-ref .titulo-movel {
	margin-bottom: 0px;
}

/* === formulario === */
.c-formulario {
	background-color: #909090;
	padding: 20px !important;
	margin-top: 50px;
	margin-bottom: 50px;
}
.c-formulario .titulo-secao {
	color: white;
}
.c-formulario .compartilhe {
	margin-bottom: 20px;
}
.c-formulario .compartilhe a {
	margin-right: 25px;
}
.c-formulario .compartilhe a:last-child {
	margin-right: 10px;
}
.c-formulario .contatos .bloco-loja .titulo {
	font-weight: bold;
	margin-bottom: 0px;
}

.c-formulario .coluna-formulario-cf7 .row.form-group {
	margin-left: 0;
	margin-right: 0;
}
.c-formulario .coluna-formulario-cf7 .row.form-group .form-control {
	border-radius: 0px;
	border: 0px;
	padding: 0px 20px;
	font-size: 25px;
}
.c-formulario .coluna-formulario-cf7 .row.form-group .coluna-botao input[type="submit"] {
	background-color: transparent;
	border: 0px;
	font-size: 25px;
	padding: 0px;
	float: right;
	outline: none;
	font-weight: bold;
	color: white;
	box-shadow: none;
}
.c-formulario .coluna-formulario-cf7 .row.form-group .coluna-botao input[type="submit"]:hover {
	color: #010101;
}
.c-formulario .coluna-formulario-cf7 .row.form-group .coluna-botao .ajax-loader {
	float: left;
	margin: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

/* === produtos relacionados === */
.produtos-carroussel {
	padding-left: 30px;
	padding-right: 30px;
}
.produtos-carroussel button.slick-arrow {
	position: absolute;
	top: 40%;
	z-index: 5;
	width: 20px;
	height: 20px;
	font-size: 0px;
	background: transparent;
	border-radius: 0px;
	outline: none;
	border: 5px solid #c2c2c2;
	padding: 0px;
}
.produtos-carroussel button.slick-arrow.slick-prev {
	left: 0;
	border-top: 0px;
	border-right: 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.produtos-carroussel button.slick-arrow.slick-next {
	right: 0;
	border-top: 0px;
	border-left: 0px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.produtos-carroussel .produto {
	padding: 5px;
}
.produtos-carroussel .produto .produto-interno {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.produtos-carroussel .produto .produto-interno img {
	opacity: 0;
}

/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* =========================================================== RODAPE =========================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */
/* ============================================================================================================================== */

footer.fl-page-footer-wrap .fl-page-footer {
	border-top: 0px;
}

@media (min-width: 992px) {
	footer.fl-page-footer-wrap .fl-page-footer-widgets .fl-page-footer-widgets-container {
		padding-top: 0px;
	}
	footer.fl-page-footer-wrap .fl-page-footer-widgets .fl-page-footer-widgets-row .col-md-6.col-lg-6:first-child {
		padding-top: 75px;
		flex: 0 0 65%;
		max-width: 65%;
	}
	footer.fl-page-footer-wrap .fl-page-footer-widgets .fl-page-footer-widgets-row .col-md-6.col-lg-6:last-child {
		flex: 0 0 35%;
		max-width: 35%;
	}
}


footer.fl-page-footer-wrap .fl-page-footer .fl-page-footer-text {
	font-size: 14px;
}
footer.fl-page-footer-wrap .cf-rodape-formulario .titulo-fale-conosco {
	font-weight: 100;
	margin-bottom: 15px;
}
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form .form-group {
	margin-bottom: 22px;
}
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form .coluna-botao {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
	position: relative;
}
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form .coluna-botao:after {
	content: '';
	position: absolute;
	width: 88%;
	height: 1px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}
@media (max-width: 992px) {
	footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form .coluna-botao:after {
		width: 72%;
	}
}
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form .coluna-botao span.ajax-loader {
	margin: 0px;
	position: relative;
	z-index: 10;
	background-color: white;
	padding: 10px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
}
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form .coluna-botao input[type="submit"] {
	float: right;
	background-color: transparent;
	color: white;
	border: 0px;
	font-size: 24px;
	padding: 0px;
	text-align: right;
	box-shadow: none;
}
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form .form-control {
	border-radius: 0px;
	font-size: 22px;
	color: #3c3c3c !important;
	border: 0px;
}
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="text"]::-webkit-input-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="password"]::-webkit-input-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form select,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="email"]::-webkit-input-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form textarea::-webkit-input-placeholder {
	color: #3c3c3c;
}
/* Firefox 18- */
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="text"]:-moz-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="password"]:-moz-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form select,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="email"]:-moz-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form textarea:-moz-placeholder {
	color: #3c3c3c;
}
/* Firefox 19+ */
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="text"]::-moz-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="password"]::-moz-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form select,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="email"]::-moz-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form textarea::-moz-placeholder {
	color: #3c3c3c;
}
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="text"]::-ms-input-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="password"]::-ms-input-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form select,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form input[type="email"]::-ms-input-placeholder,
footer.fl-page-footer-wrap .cf-rodape-formulario form.wpcf7-form textarea::-ms-input-placeholder {
	color: #3c3c3c;
}


footer.fl-page-footer-wrap .cf-rodape-formulario .row-lojas {
	margin-top: 70px;
}

@media (max-width: 992px) {
	footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape {
		text-align: center;
		margin-bottom: 50px;
	}
}

footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .titulo {
	margin-bottom: 30px;
}
footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .titulo .texto {
	font-weight: normal;
	font-size: 36px;
}
footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .telefones-emails,
footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .endereco {
	font-size: 16px;
	font-weight: lighter;
}
footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .telefones-emails p,
footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .endereco p {
	margin-bottom: 0px;
}
footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .endereco {
	margin-top: 30px;
	position: relative;
}
@media (max-width: 992px) {
	footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .endereco {
		margin-top: 14px;
	}
}
footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .endereco:after {
	content: '';
	position: absolute;
	width: 45%;
	height: 4px;
	background-color: #ebe3e0;
	top: -7px;
}
@media (max-width: 992px) {
	footer.fl-page-footer-wrap .cf-rodape-formulario .bloco-loja-rodape .endereco:after {
		right: 0;
		left: 0;
		margin: 0 auto;
	}
}

footer.fl-page-footer-wrap .cf-rodape-rede-social .logo-rodape {
	background-color: #666666;
	background-repeat: no-repeat;
	background-size: 554px;
	background-position: center top -21px;
}
footer.fl-page-footer-wrap .cf-rodape-rede-social .logo-rodape .imagem {
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
}
footer.fl-page-footer-wrap .cf-rodape-rede-social .logo-rodape .imagem img {
	filter: brightness(0);
	transform: scale(1.3);
}
footer.fl-page-footer-wrap .cf-rodape-rede-social .logo-rodape .descricao-rodape {
	font-size: 14px;
	text-align: justify;
}

footer.fl-page-footer-wrap .cf-rodape-rede-social .redes-sociais {
	margin-top: 20px;
}
footer.fl-page-footer-wrap .cf-rodape-rede-social .redes-sociais .rede-social {
	margin-right: 40px;
}
footer.fl-page-footer-wrap .cf-rodape-rede-social .redes-sociais .rede-social:last-child {
	margin-right: 0px;
}
footer.fl-page-footer-wrap .cf-rodape-rede-social .redes-sociais .rede-social img {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	border-radius: 100%;
}
footer.fl-page-footer-wrap .cf-rodape-rede-social .redes-sociais .rede-social:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 9px 0px rgba(255,255,255,1);
}